
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Photos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="!isCordova">
        <div style="text-align: center">
          <label class="fileContainer">
            
            <img src="../../assets/imgs/camera.png" alt="" id="camera">
            <input type="file" (change)="resizeSelectedImages($event)" multiple id="inputFile"  accept="image/*">
          </label>
        </div>
        <hr>
        <p>{{numberOfImages}} - photos selected</p>
        <hr>
      </div>


      <div *ngFor="let image of images; let i = index">
        <div *ngIf="image.isVisible">
          <img src="{{image.imageURL}}" alt=""  (click)="onChangeImage(i)">
        </div>
      </div>
</ion-content>
