
<ion-header>

  <ion-navbar>
    <ion-title>favorite-view</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
 <div *ngFor="let item of favoriteItems; let i = index">
    <div>
      <ion-card>
        <div *ngIf="item.isValid">
          <ion-item>
          <ion-avatar item-left>
            <img src="{{item.AVATAR_URL}}">
          </ion-avatar>
          <h2>{{item.NAME}}</h2>
          <p>{{item.PHONE}}</p>
        </ion-item>
        <ion-slides pager>
          <ion-slide *ngFor="let photo of item.PHOTOS, let i=index">
            <img style="width: 100%" src="{{item.PHOTOS[i]}}">
          </ion-slide>
        </ion-slides>

        <ion-card-content>
          <p>{{item.new_KIND}}</p>
          <div>
            <ion-item>
              <h3>$ {{item.new_PRICE}}</h3>
              <button ion-button outline item-right icon-left (click)="go2Detail(item, item.$key)">
                <ion-icon name="ios-more" padding></ion-icon>
              </button>
            </ion-item>
          </div>
        </ion-card-content>

        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>{{loveNComments[i]?.loveNo}}</div>
          </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div>{{loveNComments[i]?.commentsNo}}</div>
          </button>
          </ion-col>
          <ion-col center text-center>
            <ion-note>
              {{item.POSTDATE}}
            </ion-note>
          </ion-col>
        </ion-row>
        </div>
        <div *ngIf="!item.isValid">
          <img src="{{notAvailable}}" alt="">
        </div>
        <button ion-button block color="danger" (click)="onDeleteFromFavorite(item.$key,i)">Delete</button>
      </ion-card>
    </div>
  </div>
</ion-content>
