page-show-item-detail {
    .comment{
        color: grey;
        text-align: left;
    }

    .time{
        font-style: italic;
        font-size: 11px;
        text-align: right;  
        color: gray;

    }
}
