<ion-header>

  <ion-navbar>
    <ion-title>camera-browser</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<!--
  <div>
    <input type="file" (change)="detectFiles($event)">
    <button ion-button (click)="uploadSingle()">Upload Single</button>
  </div>
  <hr>-->
  <div>
    <label class="fileContainer">
      <button ion-button icon-start round color="secondary" [disabled]="numberOfImages>4">
        <ion-icon name='ios-camera-outline'></ion-icon>
        <p padding-left>Photo</p>
        <input type="file" (change)="detectFiles($event)" multiple>
      </button>
    </label>
    <button round ion-button (click)="uploadMultiple()" [disabled]="!numberOfImages>0"> <ion-icon name="ios-cloud-upload-outline"></ion-icon>Upload</button>
  </div>
  <hr>
  <p>{{numberOfImages}} - photos selected</p>
  <hr>
  <div *ngFor="let imageData of imageDatas; let i=index" (click)="removeImage(i)">
    <!--Image before resizing:-->
    <img src="{{imageData}}" alt="No image">
  </div>
  <!--<div *ngFor="let resizedImageData of resizedImageDatas">
    Image after resizing:
    <img src="{{resizedImageData}}" alt="No image">
  </div>
  {{resultMsg}}-->
</ion-content>
