
<ion-header>

  <ion-navbar>
    <ion-title>Your Selling Items</ion-title>
  </ion-navbar>

</ion-header>


<ion-content id="content">
  <div *ngFor="let item of soldItems; let i = index;" id="divItem">
    <div>
      <ion-card>
        <ion-item>
          <ion-avatar item-left>
            <img src="{{item.AVATAR_URL}}">
          </ion-avatar>
          <h2>{{item.NAME}}</h2>
          <p>{{item.PHONE}}</p>
          <button *ngIf="item.VISIBLE" ion-button outline item-right (click)="toggleEye(item, item.$key)"><ion-icon name="eye" large></ion-icon></button>
          <button *ngIf="!item.VISIBLE" ion-button outline item-right color="danger" (click)="toggleEye(item, item.$key)"><ion-icon name="eye-off" large></ion-icon></button>
        </ion-item>
        <ion-slides pager>
          <ion-slide *ngFor="let photo of item.PHOTOS, let i=index">
            <img style="width: 100%" src="{{item.PHOTOS[i]}}">
          </ion-slide>
        </ion-slides>
        <ion-card-content>
          <p>{{item.new_KIND}}</p>
          <div>
            <ion-item>
              <h3>$ {{item.new_PRICE}}</h3>
              <button ion-button outline item-right icon-left (click)="showDetail(item, item.$key)">
                <ion-icon name="ios-more" padding></ion-icon>
              </button>
            </ion-item>
          </div>
          
        </ion-card-content>
        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
            <ion-icon name="heart" color="danger"></ion-icon>
            <div>{{NUM_OF_LOVES[i]}}</div>
          </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div>{{NUM_OF_COMMENTS[i]}}</div>
          </button>
          </ion-col>
          <ion-col center text-center>
            <ion-note>
              {{item.POSTDATE}}
            </ion-note>
          </ion-col>
        </ion-row>
        <ion-grid>
          <ion-row>
            <ion-col>
              <button ion-button block color="danger" (click)="onDeleteSellingItem(item, item.$key ,i)">Delete</button>
            </ion-col>
            <ion-col>
              <button ion-button block color="secondary" (click)="onUpdateSellingItem(item.$key,i)">Update</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </div>
</ion-content>
