page-your-sell-item {
    .content{
        background-color: lightgray;
        padding: 0.5px;
    }

    div {
        padding: 0px;
    }
    .card-ios{
        
        margin: 10px 0px 0px 0px;
        width: 100%
    }

    .divItem {
        // width: 100%;    
    }
}
