page-add-item {
    .scroll {
        height: 100%
      }
 
      #mapNewItem {
        width: 100%;
        height: 500px;
      }

      #mapreview{
        height: 200px;
        width: 100%;
        
    }

    ion-input .ng-invalid { 
    border-left: 2px solid red;
}
}
